* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "iconfont";
  src: url("iconfont.woff2?t=1654263403269") format("woff2"),
    url("iconfont.woff?t=1654263403269") format("woff"),
    url("iconfont.ttf?t=1654263403269") format("truetype"),
    url("iconfont.svg?t=1654263403269#iconfont") format("svg");
}
:root {
  --fonts-light: consolas, "Microsoft Yahei Light", "Microsoft Yahei", "PingFang SC",
    "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
  --timeColor: #eeeeee;
  --searchColor: 255;
  --searchTaB: black;
  --bgimg: url("./imgs/BG1.jpg");
  --libg: #66666611;
}
body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 50px 90px 70px 500px 1fr;
  font-family: var(--fonts-light);
  background-image: var(--bgimg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 0.5s;
}

body > * {
  margin: auto;
}
/* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
  /* --moon-mask: ; */
  grid-row-start: 1;
  margin: 10px;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f577;
  backdrop-filter: blur(2px);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #30313677;
}

input:checked + .slider:before {
  backdrop-filter: blur(2px);
  transform: translateX(1.5em);
  background: transparent;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}

time {
  grid-row-start: 2;
  font-size: 3em;
  font-weight: 300;
  color: var(--timeColor);
}

.search-box {
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  padding: 0 30px;
  background-color: rgba(var(--searchColor), var(--searchColor), var(--searchColor), 0.3);
  width: 230px;
  height: 50px;
  border-radius: 50px;
  transition: all 0.5s;
}

.search-box:hover {
  background-color: rgba(var(--searchColor), var(--searchColor), var(--searchColor), 0.5);
  width: 50vw;
}

.search-box:focus-within {
  background-color: rgba(var(--searchColor), var(--searchColor), var(--searchColor), 0.9);
  width: 50vw;
  backdrop-filter: blur(0);
}

#search,
#search:-internal-autofill-selected {
  font-family: inherit;
  flex: 1;
  margin: 0;
  text-align: center;
  border: 0;
  outline: none;
  background-color: transparent !important;
  color: var(--searchTaB) !important;
  -webkit-text-fill-color: var(--searchTaB);
}

.search-btn,
#setBrowser {
  opacity: 0;
  border: 0;
  width: 50px;
  height: 50px;
  color: var(--searchTaB);
  background-color: transparent;
  margin: auto 0;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#setBrowser i.iconfont.icon-bing {
  font-size: 2em;
}

#setBrowser i.iconfont {
  font-size: 1.8em;
}

.search-btn i.iconfont,
#setBrowser i.iconfont.icon-baidu {
  font-size: 1.5em;
}

.search-box:focus-within > .search-btn,
.search-box:focus-within > #setBrowser {
  opacity: 1;
  cursor: pointer;
}

#hrefbox {
  transform: scale(0);
  opacity: 0;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  color: var(--searchTaB);
  background-color: rgba(var(--searchColor), var(--searchColor), var(--searchColor), 0.9);
  list-style: none;
  transition: 0.25s cubic-bezier(0.65, 0.05, 0.1, 1);
}

#hrefbox button {
  background-color: transparent;
  border: 0;
  padding: 10px;
  width: 100px;
  display: grid;
  grid-template-columns: 20px 10px 1fr;
  transition: 0.25s cubic-bezier(0.65, 0.05, 0.1, 1);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

#hrefbox button:hover {
  background-color: var(--libg);
}

#hrefbox button i {
  grid-column-start: 1;
}

#hrefbox button p {
  grid-column-start: 3;
  text-align: left;
}

#hrefbox .icon-bing {
  font-size: 1em;
  position: relative;
  top: 1px;
}

#hrefbox .icon-baidu {
  font-size: 0.7em;
  margin: 2px;
  position: relative;
  top: 2px;
}

#hrefbox .icon-google {
  font-size: 0.9em;
  margin: 1px;
  position: relative;
  top: 2px;
}
